{% extends "base.html" %}
{% block content %}

{% include "partials/library_section.html" %}

<section class="card">
  <h2>Home</h2>

  {% include "partials/carousel.html" %}
  {% include "partials/top_shelf.html" %}
  {% include "partials/home_shelves.html" %}
</section>

{% endblock %}

{% block scripts %}
<script src="{{ static_url('reorder.js') }}" defer></script>
<script src="{{ static_url('dirty-save.js') }}" defer></script>
<script src="{{ static_url('shelf-source.js') }}" defer></script>
{% endblock %}
